.slide-text {
  animation: slideInOut 5s ease-in-out infinite;
}

@keyframes slideInOut {
  0% {
    right:0%;
    opacity: 0;
  }
  20% {
    right:50% ;
    opacity: 1;
  }
  80% {
    right:50%;
    opacity: 1;
   
  }
  100% {
    right:0%;
    opacity:0
  }
  
}