.slide-text {
  animation: slideIn 5s linear infinite;
}

@keyframes slideIn {
  0% {
    transform: translateX(250%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  2% {
    transform: translateX(250%); 
  }
  
}